<div class="cbo-card">
    <div class="card-body">
        <div class="cbo-name">{{name}}</div>
        <div class="cbo-address">{{{address}}}</div>

        <hr>

        <div class="card-description">
            {{description}}
        </div>

        {{#if languages}}
        <div class="card-languages">
            <i class="fa-solid fa-comments"></i>&nbsp;Languages: {{#languages}} <span class="language">{{{this}}}</span>{{/languages}}
        </div>
        {{/if}}
    </div>
    <div class="card-footer">
        {{#if phone}}
        <a href="tel:{{phone}}">
            <button class="card-btn btn-primary">
                <i class="fa-solid fa-fw fa-phone"></i> Call
            </button>
        </a>
        {{/if}}
        {{#if email}}
        <a href="mailto:{{email}}" target="_blank">
            <button class="card-btn btn-default">
                <i class="fa-solid fa-fw fa-envelope"></i> Email
            </button>
        </a>
        {{/if}}
        {{#if url}}
        <a href="{{url}}" target="_blank">
            <button class="card-btn btn-secondary">
                <i class="fa-solid fa-fw fa-globe"></i> Website
            </button>
        </a>
        {{/if}}
    </div>
</div>